/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font: inherit;
}
body {
  line-height: 1;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header{
    background-color: #274060;
    width: full;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-wrapper{   
    padding-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
}

.name{
    font-size:50px;
}
.welcome-message{
    font-size: 30px;
    margin-top: 20px;
    background-color: green;
}

.content{

    height: 80vh;
}

#nav-name{
    margin-left: 50px;
    font-size: 20px;
    color: white;
}

#nav-wrapper{
  display: flex;
  color: white;
  margin-right: 20px;
  width: 50%;
  justify-content: space-around;
}

.header-link:hover{
  cursor: pointer;
}

.dropdown-wrapper{
  position: relative;
  display: inline-block;
  width: 25%;
}

.dropdown-content{
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: black;
  display: flex;
  flex-direction: column;
  visibility: hidden;

  /* display: none; */
}

.dropdown-wrapper:hover .dropdown-content{
  visibility: visible;
}

.dropdown-content a:hover{
  color: white;
  cursor: pointer;
  background-color: blue;
}

.dropdown-content a{
  padding: 2px;
}

.standards-wrapper{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 50%;
}
.standard-title{
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.standard-description{
 margin-top: 20px;
 font-size: 30px;
 font-style: italic;
 margin-bottom: 20px;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-wrapper{
  margin-top: 15px;
  font-size: 25px;
}
hr {
  height: 1px;
  width: 100%;
  background-color: navy;
  border: none;
  display: block; /* Ensures it takes up space */
}

#marketing-standards{
  width: 50%;
}
#marketing-ppt{
  width: 50%;
}

.image-wrapper{
  margin-top: 20px;
  display: flex;
}

.element-explanation{
  margin-top: 20px;
}

.element-wrapper-lower{
  margin-top: 50px;
  font-size: 24px;
}

#GDP{
  margin-top: 20px;
}