/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font: inherit;
}
body {
  line-height: 1;
}
ul, ol {
  list-style: none;
}

#instructional-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header{
    background-color: #274060;
    width: full;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.welcome-wrapper{   
    padding-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
}

#form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#wrapper1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-outline-light:hover .bi-envelope-fill {
    color: #274060 !important;
}

.name{
    font-size:50px;
}
.welcome-message{
    font-size: 30px;
    margin-top: 20px;
  
}

.form{
  width: 50%;
}

.content{

    height: 80vh;
}

#foot-line{
  height: 80px;
  width: 100%;
  background-color: #274060;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link{
  color: white;
  font-size: 30px;
}

.footer-link:hover{
  color:grey;
}
#nav-name{
    margin-left: 50px;
    font-size: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#home{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#nav-wrapper{
  display: flex;
  color: white;
  margin-right: 60px;
  width: 40%;
  justify-content: space-around;

}

#bell-schedule{
  width: 60%
}

#schedule{
  width: 40%;
}

#data-data{
  width: 75%;
}

#data-instructions{
  border: solid gray;
  margin-bottom: 40px;
  width: 60%;
}

.header-link{
  margin-bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.header-link:hover{
  cursor: pointer;
}

.dropdown-wrapper{
  position: relative;
  display: inline-block;
 
  
}

#instructions-wrapper{
  width: 100%;
}

.mm-instructions{
  width: 50%;
  border: solid gray;
}

.dropdown-content{
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  border-radius:5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: black;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: max-content;
  padding: 5px;
  left: 50%;
  transform: translateX(-50%);


  /* display: none; */
}

.dropdown-item{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.dropdown-wrapper:hover .dropdown-content{
  visibility: visible;
}

.header-link:hover{
  color: grey;
}

#home:hover{
  color: grey;
}

.dropdown-content a:hover{
  color: white;
  cursor: pointer;
  background-color: blue;
}

.dropdown-content a{
  padding: 2px;
}

.circ-img{
  width: 50%;
}

#circ-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.two-circ{
  display: flex;
}
#me-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.standards-wrapper{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 50%;
}
.standard-title{
  margin-top: 30px;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.standard-description{
 margin-top: 20px;
 font-size: 30px;
 font-style: italic;
 margin-bottom: 20px;
 font-family: 'DM Serif Display', serif;
 line-height: 40px;

}

.page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-wrapper{
  margin-top: 15px;
  font-size: 25px;
}
hr {
  height: 1px;
  width: 100%;
  background-color: #274060;
  border: none;
  display: block; /* Ensures it takes up space */
}

#meeting{
  width: 50%;
  border: solid gray;
}

#marketing-standards{
  width: 80%;
}
#marketing-ppt{
  width: 100%;
  margin-left: 20px;
  margin-top: 30px;
}

.image-wrapper{
  margin-top: 20px;
  display: flex;

}

.element-explanation{
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.element-wrapper-lower{
  margin-top: 50px;
  font-size: 24px;
}

.element-description{
  font-weight: 600;
  font-family: 'DM Serif Display', serif;
  line-height: 35px;
}

#GDP{
  margin-top: 20px;
}

.standard_link_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.more-header{
  font-size: 25px;
  margin-top: 30px;
  font-family: 'DM Serif Display', serif;
}

.bottom-line{
  width: 50%;

}



.bottom_link{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
 
}

.more_hr{
  margin-bottom: 10px;
}

.bottom_link:hover{
  color: blue;
  font-weight: 500;
}

.p-section {
  padding: 100px 0px;
}

.container {
  max-width: 900px;
}

blockquote {
  font-size: 28px;
  font-family:'DM Serif Display', serif;
  line-height: 40px;
}

.hi{
  font-family: 'DM Serif Display', serif;
  font-size: 46px;
  margin-bottom: 70px;

}

.lead{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.employment-icon{
  height: 80px;
}

#frcc{
  height: 80px;
}

#employment-wrapper{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.history-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#icon-box{
  width: 30%;
  display: flex;
  justify-content: space-around;
}

#history{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: gray;
  font-size: 20px;
  margin-bottom: 70px;
  font-weight: 600;
}

#CPI-calc{
  margin-top: 30px;
  width: 80%;
}

#CPI-form{
  margin-top: 40px;
  width: 50%;
  border: solid black;
  
}

.group{ 
  width: 75%;
}



